// Description: Main stylesheet for the app.
// @import url("./quasar-variables.scss");
*{
  font-family: "Roboto";
  overflow-x: hidden;
}
body {
  //   background: #232f3e;
}
body.body--dark {
  background-color: #232f3e;
  transition: 0.25s;
}
body.body--light {
  background-color: #fff;
  transition: 0.25s;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.titlebar {
  background-color: #232f3e;
  color: #fff;
}
